@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@700&family=Montserrat:wght@500&display=swap');

body{
    --color-bg: #e9ecef;
    --color-shadow: #343a40;
    --color-bg-nav: #f8f9fa;
    --color-text: #212529;
    background-color: var(--color-bg);
}

.logo{
    width: 30px;
    margin-right: 5px;
}

.fonte{
    font-family: 'Atkinson Hyperlegible', sans-serif;
    margin-left: 10vw;
}

.container{
    margin-top: 7vh;
}

.form-group{
    box-shadow: var(--color-shadow);
}

.card{
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 5vh;
    transition: transform 0.2s ease-in-out;
}

.card:hover{
    transform: scale(1.1);
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.2);
}
